.pagename_area {
  background: url("../images/products/bg_pagename_nioeair.png") no-repeat left top;
  background-size: 70% auto;
  padding: 12% 0 5%;
  position: relative;
}

.pagename_area.animal {
  background: url("../images/products/bg_pagename_animal.png") no-repeat left top;
  background-size: 70% auto;
  padding: 12% 0 5%;
  position: relative;
}

.pagename_area.pain {
  background: url("../images/products/bg_pagename_pain.png") no-repeat left top;
  background-size: 70% auto;
  padding: 12% 0 5%;
  position: relative;
}

.pagename_area.nioeiair_pro {
  background: url("../images/products/bg_pagename_nioeair_product.png") no-repeat left center;
  background-size: 50% auto;
  padding: 4% 0 5%;
  position: relative;
}

.pagename_area.nioeiair_pro h1 {
  padding: 0;
}

.pagename_area.nioeiair_pro h1 .jp {
  font-size: 30rem;
}

.pagename_area.nioeiair_pro h1 .en {
  font-size: 82rem;
  font-weight: 400;
}

.pagename_area .line {
  position: absolute;
  top: 5%;
  right: 0;
  width: 100%;
}

.pagename_area .line svg {
  width: 100%;
  height: auto;
}

.pagename_area .line svg g path {
  fill: none;
  stroke: #004ba0;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-width: 3px;
  stroke-dasharray: 3000px;
  stroke-dashoffset: 3000px;
  -webkit-animation: 1s forwards linear 2.5s line-animation3000;
          animation: 1s forwards linear 2.5s line-animation3000;
}

.pagename_area h1 {
  text-align: right;
  padding: 0 16%;
}

.pagename_area h1 .jp {
  display: block;
  font-size: 15px;
  line-height: 1.6;
  padding: 0 2%;
}

@media only screen and (max-width: 650px) {
  .pagename_area h1 .jp {
    font-size: 12px;
  }
}

.pagename_area h1 .en {
  display: inline-block;
  background-size: 400px auto;
  font-family: "bahnschrift", sans-serif;
  font-weight: 600;
  font-size: 45px;
  line-height: 1;
  letter-spacing: 0.22em;
  color: #004ba0;
}

@media only screen and (max-width: 650px) {
  .pagename_area h1 .en {
    font-size: 24px;
    background-size: 300px auto;
  }
}

.pagename_area h1 p {
  margin-top: 100rem;
  padding: 0 2%;
}

.sec_main_item .main_item_inner {
  padding-top: 6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 650px) {
  .sec_main_item .main_item_inner {
    padding-top: 20%;
  }
}

.sec_main_item .main_item_inner .txt {
  width: 60%;
}

.sec_main_item .main_item_inner .txt h2.ttl2 .jp {
  display: block;
  font-size: 13px;
  line-height: 1.6;
  padding: 0 20px 0;
  text-align: left;
}

@media only screen and (max-width: 650px) {
  .sec_main_item .main_item_inner .txt h2.ttl2 .jp {
    font-size: 12px;
  }
}

.sec_main_item .main_item_inner .txt h2.ttl2 .en {
  display: inline-block;
  padding: 0 20px 30px;
  background: url("../images/common/bg_title.svg") no-repeat center bottom;
  background-size: 400px auto;
  font-family: "bahnschrift", sans-serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 1;
  letter-spacing: 0.22em;
  color: #004ba0;
}

@media only screen and (max-width: 650px) {
  .sec_main_item .main_item_inner .txt h2.ttl2 .en {
    padding: 0 16px 20px;
    font-size: 24px;
    background-size: 300px auto;
  }
}

.sec_main_item .main_item_inner .txt .explain {
  padding: 3% 0 0 3%;
}

.sec_main_item .main_item_inner .txt .explain .info {
  font-size: 18px;
}

.sec_main_item .main_item_inner .txt .explain .price {
  font-size: 12px;
  padding: 4% 0;
}

.sec_main_item .main_item_inner .txt .explain p.viewmore {
  text-align: right;
  text-align: left;
}

.sec_main_item .main_item_inner .txt .explain p.viewmore a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sec_main_item .main_item_inner .txt .explain p.viewmore a span.circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 3px;
  border-radius: 50%;
  border: 1px solid #004ba0;
  width: 26px;
  aspect-ratio: 1/1;
  margin: 5px 0 0 8px;
  background: #fff url("../images/common/link_arr.svg") no-repeat center center;
  background-size: 16px auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
}

.sec_main_item .main_item_inner .txt .explain p.viewmore a span.circle:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.sec_main_item .main_item_inner .txt .explain p.viewmore a:hover {
  text-decoration: none;
}

.sec_main_item .main_item_inner .txt .explain p.viewmore a:hover span.circle {
  background: #004ba0 url("../images/common/link_arr_w.svg") no-repeat center center;
  background-size: 16px auto;
}

.sec_main_item .main_item_inner .txt .explain p.viewmore a:hover span.circle:after {
  -webkit-animation: ripple 0.6s ease .1s;
          animation: ripple 0.6s ease .1s;
}

.sec_main_item .main_item_inner .itemimg {
  width: 38%;
  text-align: center;
}

.sec_main_item .main_item_inner .itemimg ul {
  display: inline-block;
}

.sec_main_item .main_item_inner .itemimg ul li {
  display: inline-block;
}

.sec_main_item .main_item_inner .itemimg ul li a:hover {
  text-decoration: none;
}

.sec_main_item .main_item_inner .itemimg ul li a {
  display: inline-block;
  position: relative;
}

.sec_main_item .main_item_inner .itemimg ul li a p {
  padding: 0 40px 0 0;
}

.sec_main_item .main_item_inner .itemimg ul li a p span {
  display: block;
  text-align: right;
}

.sec_main_item .main_item_inner .itemimg ul li a p span.en {
  font-family: "bahnschrift", sans-serif;
  letter-spacing: 0.22em;
  font-size: 19px;
  line-height: 1.6;
  position: relative;
  white-space: nowrap;
  padding: 0 10px;
}

@media only screen and (max-width: 650px) {
  .sec_main_item .main_item_inner .itemimg ul li a p span.en {
    font-size: 16px;
  }
}

.sec_main_item .main_item_inner .itemimg ul li a p span.en:after {
  position: absolute;
  left: 0;
  bottom: -2px;
  content: '';
  width: 100%;
  height: 2px;
  background: #004ba0;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.sec_main_item .main_item_inner .itemimg ul li a p span.jp {
  font-weight: 200;
  font-size: 12px;
  line-height: 2;
  padding: 0 10px;
  white-space: nowrap;
  color: #5a5a5a;
}

@media only screen and (max-width: 650px) {
  .sec_main_item .main_item_inner .itemimg ul li a p span.jp {
    font-size: 10px;
  }
}

.sec_main_item .main_item_inner .itemimg ul li a .circle {
  position: absolute;
  right: 0;
  top: 6px;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  border: 1px solid #004ba0;
  width: 42px;
  aspect-ratio: 1/1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.sec_main_item .main_item_inner .itemimg ul li a .circle:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 42px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.sec_main_item .main_item_inner .itemimg ul li a .circle span {
  overflow: hidden;
  width: 100px;
  aspect-ratio: 1/1;
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.sec_main_item .main_item_inner .itemimg ul li a .circle span:before, .sec_main_item .main_item_inner .itemimg ul li a .circle span:after {
  content: '';
  width: 100%;
  aspect-ratio: 1/1;
  background: url("../images/common/link_arr_w.svg") no-repeat left top 14px;
  background-size: 80% auto;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
}

.sec_main_item .main_item_inner .itemimg ul li a .circle span:after {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.sec_main_item .main_item_inner .itemimg ul li a .circle span:before {
  background: url("../images/common/link_arr.svg") no-repeat left top 14px;
  background-size: 80% auto;
}

.sec_main_item .main_item_inner .itemimg ul li a:hover p .en:after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.sec_main_item .main_item_inner .itemimg ul li a:hover .circle {
  background: #004ba0;
  -webkit-animation: scale_animation 0.5s linear .1s;
          animation: scale_animation 0.5s linear .1s;
  border: 2px solid transparent;
}

.sec_main_item .main_item_inner .itemimg ul li a:hover .circle:after {
  -webkit-animation: ripple 0.6s ease .1s;
          animation: ripple 0.6s ease .1s;
}

.sec_main_item .main_item_inner .itemimg ul li a:hover .circle span:before {
  -webkit-animation-name: transformRightLeft;
          animation-name: transformRightLeft;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.sec_main_item .main_item_inner .itemimg ul li a:hover .circle span:after {
  -webkit-animation-name: transformLeftRight;
          animation-name: transformLeftRight;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.sec_main_item.product .main_item_inner .txt .ttl2 .en {
  width: 100%;
  text-align: center;
  font-weight: 400;
  padding: 0 20px 40px;
  background-size: 700px auto;
}

.sec_main_item.product .main_item_inner .txt .explain {
  font-size: 27rem;
  letter-spacing: 5rem;
}

.sec_changeair .changeair_block {
  padding-top: 6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 650px) {
  .sec_changeair .changeair_block {
    padding-top: 20%;
  }
}

.sec_changeair .changeair_block .img {
  width: 30%;
}

.sec_changeair .changeair_block .txt {
  width: 68%;
  padding: 0 10% 0 0;
  text-align: right;
}

.sec_changeair .changeair_block .txt h2 {
  font-size: 40px;
  font-weight: 400;
  color: #004ba0;
  letter-spacing: 10rem;
}

.sec_changeair .changeair_block .txt .info {
  padding: 5% 0 0;
}

.sec_targettrouble .ttl_area .page_center {
  padding-top: 6%;
}

@media only screen and (max-width: 650px) {
  .sec_targettrouble .ttl_area .page_center {
    padding-top: 20%;
  }
}

.sec_targettrouble .ttl_area .page_center h2.ttl .en {
  background: url("../images/common/bg_title.svg") no-repeat center bottom;
  background-size: 600px auto;
  padding: 0 20px 40px;
}

.sec_targettrouble .ttl_area .page_center .sub_ttl {
  text-align: center;
  letter-spacing: 2rem;
  font-size: 27rem;
}

.sec_targettrouble .ttl_area .page_center .sub_ttl h2 {
  letter-spacing: 15rem;
  margin-top: 90rem;
  font-size: 40rem;
  font-weight: 400;
  color: #004ba0;
}

.sec_targettrouble .block_trouble .widepage_center {
  position: relative;
}

.sec_targettrouble .block_trouble .line {
  position: absolute;
  top: -98px;
  left: -20%;
  width: 70%;
  z-index: -1;
}

@media print, screen and (min-width: 1488px) {
  .sec_targettrouble .block_trouble .line {
    top: -130px;
  }
}

@media only screen and (max-width: 650px) {
  .sec_targettrouble .block_trouble .line {
    top: -30%;
    left: -20%;
    width: 66%;
  }
}

.sec_targettrouble .block_trouble .line svg {
  width: 100%;
  height: auto;
}

.sec_targettrouble .block_trouble .line svg g path {
  fill: none;
}

.sec_targettrouble .block_trouble .line.scrollin g path {
  fill: none;
  stroke: #004ba0;
  stroke-miterlimit: 10;
  stroke-width: 3px;
  stroke-dasharray: 2000px;
  stroke-dashoffset: 2000;
  -webkit-animation: 1s forwards linear 2s line-animation;
          animation: 1s forwards linear 2s line-animation;
}

.sec_targettrouble .block_trouble .right .line {
  top: -160px;
  left: 57%;
}

.sec_targettrouble .block_trouble .right .block_ttl_area {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.sec_targettrouble .block_trouble .right .kori {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.sec_targettrouble .block_trouble .right .kori .info {
  text-align: end;
}

.sec_targettrouble .block_trouble .block_ttl_area {
  padding: 100px 0 0 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media print, screen and (min-width: 1488px) {
  .sec_targettrouble .block_trouble .block_ttl_area {
    padding: 120px 0 0 4%;
  }
}

@media only screen and (max-width: 650px) {
  .sec_targettrouble .block_trouble .block_ttl_area {
    padding: 0 5.3%;
  }
}

.sec_targettrouble .block_trouble .block_ttl_area .icon {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  aspect-ratio: 1/1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  line-height: 2;
  text-align: center;
  color: #004ba0;
}

.sec_targettrouble .block_trouble .block_ttl_area div.icon {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 0.8;
  color: #5a5a5a;
}

.sec_targettrouble .block_trouble .block_ttl_area div.icon span {
  font-size: 40rem;
  color: #004ba0;
}

.sec_targettrouble .block_trouble .block_ttl_area h3 {
  padding: 0 0 0 5%;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.5;
  color: #004ba0;
}

@media print, screen and (min-width: 1488px) {
  .sec_targettrouble .block_trouble .block_ttl_area h3 {
    font-size: 40px;
  }
}

.sec_targettrouble .block_trouble .block_ttl_area h3.kori {
  letter-spacing: 12rem;
  font-size: 60rem;
  padding: 0 20rem;
}

.sec_targettrouble .block_trouble .text {
  padding-top: 80rem;
  padding-left: 100rem;
  font-size: 27rem;
}

.sec_targettrouble .block_trouble h4 {
  padding: 6% 10% 3%;
  color: #004ba0;
  font-size: 40px;
  line-height: 1.6;
}

@media print, screen and (min-width: 1488px) {
  .sec_targettrouble .block_trouble h4 {
    font-size: 44px;
  }
}

.sec_targettrouble .block_trouble h4.big {
  padding-top: 0;
  position: relative;
  font-size: 100rem;
}

.sec_targettrouble .block_trouble h4.big .line {
  position: absolute;
  top: 70%;
  left: 5%;
  width: 100%;
  height: 100%;
  z-index: -1;
}

@media only screen and (max-width: 650px) {
  .sec_targettrouble .block_trouble h4.big .line {
    top: -30%;
    left: -20%;
    width: 66%;
  }
}

.sec_targettrouble .block_trouble h4.big .line svg {
  width: 100%;
  height: auto;
}

.sec_targettrouble .block_trouble h4.big .line svg g path {
  fill: none;
}

.sec_targettrouble .block_trouble h4.big .line.scrollin g path {
  fill: none;
  stroke: #004ba0;
  stroke-miterlimit: 10;
  stroke-width: 3px;
  stroke-dasharray: 2000px;
  stroke-dashoffset: 2000;
  -webkit-animation: 1s forwards linear 2s line-animation;
          animation: 1s forwards linear 2s line-animation;
}

.sec_targettrouble .block_trouble .info {
  padding: 0 10% 0;
  font-size: 27rem;
}

.sec_targettrouble .block_trouble .kori {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sec_targettrouble .block_trouble .kori .info {
  padding: 50rem 8%;
  font-size: 27rem;
  letter-spacing: 5rem;
  line-height: 1.5;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.sec_targettrouble .block_trouble .kori .img {
  padding-top: 50rem;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sec_targettrouble .block_trouble .kori .img img {
  width: 100%;
  height: auto;
}

.sec_targettrouble .block_trouble .kori .pain-img {
  width: 800rem;
  margin: 0 auto;
  margin-top: 150rem;
}

.sec_targettrouble .block_trouble .sign {
  text-align: right;
  padding: 2% 10% 0;
}

.sec_features .ttl_area .page_center {
  padding-top: 6%;
}

@media only screen and (max-width: 650px) {
  .sec_features .ttl_area .page_center {
    padding-top: 20%;
  }
}

.sec_features .ttl_area .page_center .sub_ttl {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 85rem auto;
}

.sec_features .ttl_area .page_center .sub_ttl h2 {
  text-align: center;
  font-size: 54rem;
  color: #004ba0;
  line-height: 1.5;
}

.sec_features .ttl_area .page_center .sub_ttl p {
  text-align: left;
  font-size: 27rem;
  margin-top: 35rem;
}

.sec_features .block .widepage_center {
  position: relative;
}

.sec_features .block .line {
  position: absolute;
  top: -98px;
  left: -20%;
  width: 70%;
  z-index: -1;
}

@media print, screen and (min-width: 1488px) {
  .sec_features .block .line {
    top: -130px;
  }
}

@media only screen and (max-width: 650px) {
  .sec_features .block .line {
    top: -30%;
    left: -20%;
    width: 66%;
  }
}

.sec_features .block .line svg {
  width: 100%;
  height: auto;
}

.sec_features .block .line svg g path {
  fill: none;
}

.sec_features .block .line.scrollin g path {
  fill: none;
  stroke: #004ba0;
  stroke-miterlimit: 10;
  stroke-width: 3px;
  stroke-dasharray: 2000px;
  stroke-dashoffset: 2000;
  -webkit-animation: 1s forwards linear 2s line-animation;
          animation: 1s forwards linear 2s line-animation;
}

.sec_features .block .block_ttl_area {
  padding: 100px 0 0 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media print, screen and (min-width: 1488px) {
  .sec_features .block .block_ttl_area {
    padding: 120px 0 0 4%;
  }
}

@media only screen and (max-width: 650px) {
  .sec_features .block .block_ttl_area {
    padding: 0 5.3%;
  }
}

.sec_features .block .block_ttl_area .icon {
  width: 165rem;
  aspect-ratio: 1/1;
  font-size: 20px;
  line-height: 1;
  text-align: center;
  color: #004ba0;
}

.sec_features .block .block_ttl_area h3 {
  padding: 0 0 0 5%;
  font-size: 36px;
  font-weight: 400;
  color: #004ba0;
}

@media print, screen and (min-width: 1488px) {
  .sec_features .block .block_ttl_area h3 {
    font-size: 40px;
  }
}

.sec_features .block h4 {
  padding: 6% 10% 3%;
  color: #004ba0;
  font-size: 40px;
  line-height: 1.6;
}

@media print, screen and (min-width: 1488px) {
  .sec_features .block h4 {
    font-size: 44px;
  }
}

.sec_features .block .info {
  padding: 0 10% 0;
}

.sec_features .block .sign {
  text-align: right;
  padding: 2% 10% 0;
}

.sec_features .point .block_ttl_area {
  padding-top: 65rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(20%);
          transform: translateX(20%);
}

.sec_features .point .block_ttl_area p.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #004ba0;
  border-radius: 50%;
  font-size: 38rem;
}

.sec_features .point .block_ttl_area p.icon span {
  font-size: 15rem;
  color: #5a5a5a;
}

.sec_features .point .block_ttl_area h3 {
  font-size: 45rem;
}

.sec_features .point.pain .widepage_center {
  margin-top: 60rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sec_features .point.pain .widepage_center .block_ttl_area {
  -webkit-transform: translate(0);
          transform: translate(0);
  gap: 20rem;
}

.sec_features .point.pain .widepage_center .block_ttl_area h3 {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0;
}

.sec_features .point.pain .widepage_center .block_ttl_area h3 .sub_text {
  position: absolute;
  top: 100%;
  font-size: 27rem;
  line-height: 1.5;
  color: #5a5a5a;
}

.sec_features .point.pain .widepage_center .block_ttl_area h3 .sub_text li {
  list-style: disc;
  -webkit-transform: translateX(35rem);
          transform: translateX(35rem);
}

.sec_features .point.pain .widepage_center .img {
  width: 650rem;
}

.sec_features.animal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sec_features.animal .block_ttl_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translate(0);
          transform: translate(0);
}

.sec_features.animal .block_ttl_area h3 {
  text-align: center;
  line-height: 1.5;
  letter-spacing: 15rem;
  padding-bottom: 30rem;
}

.sec_features.animal .block_ttl_area .text {
  font-size: 27rem;
}

.sec_features.animal .block_ttl_area .part {
  width: 600rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50rem;
  padding-top: 40rem;
}

.sec_features.animal .block_ttl_area .part .icon {
  width: 130rem;
}

.sec_features.animal .block_ttl_area .part .part_right {
  line-height: 1.2;
}

.sec_features.animal .block_ttl_area .part .part_right .sub_ttl {
  font-size: 27rem;
}

.sec_features.animal .block_ttl_area .part .part_right .sub_text {
  font-size: 35rem;
}

.sec_usage .ttl_area .page_center {
  padding-top: 6%;
}

@media only screen and (max-width: 650px) {
  .sec_usage .ttl_area .page_center {
    padding-top: 20%;
  }
}

.sec_usage .widepage_center {
  position: relative;
}

.sec_usage .line {
  position: absolute;
  top: -98px;
  left: -20%;
  width: 70%;
  z-index: -1;
}

@media print, screen and (min-width: 1488px) {
  .sec_usage .line {
    top: -215px;
  }
}

@media only screen and (max-width: 650px) {
  .sec_usage .line {
    top: -30%;
    left: -20%;
    width: 66%;
  }
}

.sec_usage .line svg {
  width: 100%;
  height: auto;
}

.sec_usage .line svg g path {
  fill: none;
}

.sec_usage .line.scrollin g path {
  fill: none;
  stroke: #004ba0;
  stroke-miterlimit: 10;
  stroke-width: 3px;
  stroke-dasharray: 2000px;
  stroke-dashoffset: 2000;
  -webkit-animation: 1s forwards linear 2s line-animation;
          animation: 1s forwards linear 2s line-animation;
}

.sec_usage .block_ttl_area {
  padding: 100px 0 0 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media print, screen and (min-width: 1488px) {
  .sec_usage .block_ttl_area {
    padding: 30px 0 0 4%;
  }
}

@media only screen and (max-width: 650px) {
  .sec_usage .block_ttl_area {
    padding: 0 5.3%;
  }
}

.sec_usage .block_ttl_area .icon {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 1.5;
  aspect-ratio: 1/1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  line-height: 1;
  text-align: center;
}

.sec_usage .block_ttl_area .icon span {
  color: #004ba0;
  font-size: 47rem;
  line-height: 1.2;
}

.sec_usage .block_ttl_area h3 {
  padding: 0% 2% 0 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 36px;
  font-weight: 400;
  color: #004ba0;
}

@media print, screen and (min-width: 1488px) {
  .sec_usage .block_ttl_area h3 {
    font-size: 40px;
    letter-spacing: 10rem;
  }
}

.sec_usage h4 {
  padding: 6% 10% 3%;
  color: #004ba0;
  font-size: 40px;
  line-height: 1.6;
}

@media print, screen and (min-width: 1488px) {
  .sec_usage h4 {
    font-size: 44px;
  }
}

.sec_usage .info {
  padding: 0 10% 0;
}

.sec_usage .sign {
  text-align: right;
  padding: 2% 10% 0;
}

.sec_usage .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sec_usage .block .point {
  width: 70%;
  -webkit-transform: translateX(10%);
          transform: translateX(10%);
}

.sec_usage .block .right-img {
  width: 30%;
}

.sec_usage .point .block_ttl_area {
  padding-top: 65rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.sec_usage .point .block_ttl_area p.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #004ba0;
  border-radius: 50%;
  font-size: 28rem;
  color: #004ba0;
  width: 135rem;
  height: 135rem;
}

.sec_usage .point .block_ttl_area p.icon span {
  line-height: 1;
}

.sec_usage .point .block_ttl_area p.text {
  font-size: 27rem;
  line-height: 1.7;
}

.sec_usage .point .block_ttl_area h3 {
  padding-top: 0;
  line-height: 1.5;
}

.sec_usage .point .block_ttl_area .reference {
  font-size: 20rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
}

.sec_usage .point .reference {
  font-size: 27rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-left: 60rem;
  margin-top: 65rem;
  line-height: 1.5;
}

.sec_usage .right-img {
  width: 20%;
}

.sec_usage .right .line {
  top: -160px;
  left: 56%;
}

.sec_usage .right .block_ttl_area {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding: 88px 4% 0 4%;
  -webkit-transform: translate(0);
          transform: translate(0);
}

.sec_usage .right .widepage_center .block_ttl_area {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 40px;
}

.sec_usage .right .widepage_center .block_ttl_area .icon {
  border: 2px solid #004ba0;
  border-radius: 50%;
}

.sec_usage .right .widepage_center .block_ttl_area .text {
  width: 30%;
}

.sec_usage .right .widepage_center .block_ttl_area .img {
  width: 20%;
}

.sec_review .widepage_center {
  padding-top: 6%;
}

@media only screen and (max-width: 650px) {
  .sec_review .widepage_center {
    padding-top: 20%;
  }
}

.sec_review .ec_inner {
  padding: 5% 0 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.sec_review .ec_inner .box {
  margin-block: 20px;
  width: 30%;
}

.sec_review .ec_inner .box a {
  height: 202rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
  display: block;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #5a5a5a;
}

.sec_review .ec_inner .box a:after, .sec_review .ec_inner .box a:before {
  content: "";
  top: 0;
  right: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: absolute;
  width: 35px;
  height: 35px;
}

.sec_review .ec_inner .box a:after {
  border-top: solid 1px #004ba0;
  border-right: solid 1px #004ba0;
}

.sec_review .ec_inner .box a:before {
  border-bottom: solid 1px #004ba0;
  border-left: solid 1px #004ba0;
  top: unset;
  right: unset;
  bottom: 0;
  left: 0;
}

.sec_review .ec_inner .box a:hover {
  text-decoration: none;
}

.sec_review .ec_inner .box a:hover:after, .sec_review .ec_inner .box a:hover:before {
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.sec_review .ec_inner .box a .a_inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 25px;
}

.sec_review .ec_inner .box a .a_inner .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 5%;
  text-align: center;
}

.sec_review .ec_inner .box a .a_inner .icon img {
  margin: 0 auto;
}

.sec_review .ec_inner .box a .a_inner p {
  padding: 5% 10%;
  font-size: 11rem;
  line-height: 1.6;
}

.sec_review .ec_inner .box a .a_inner p strong {
  color: #004ba0;
  font-size: 15rem;
  font-weight: 400;
}

.sec_review .ec_inner .box a .a_inner p span {
  font-size: 16px;
}

.sec_ec .widepage_center {
  padding-top: 6%;
}

@media only screen and (max-width: 650px) {
  .sec_ec .widepage_center {
    padding-top: 20%;
  }
}

.sec_ec .ec_inner {
  padding: 5% 0 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.sec_ec .ec_inner .box {
  width: 30%;
  /*
			&.signup{
				width: 30%;
			}*/
}

.sec_ec .ec_inner .box a {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
  display: block;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #5a5a5a;
}

.sec_ec .ec_inner .box a:after, .sec_ec .ec_inner .box a:before {
  content: "";
  top: 0;
  right: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: absolute;
  width: 35px;
  height: 35px;
}

.sec_ec .ec_inner .box a:after {
  border-top: solid 1px #004ba0;
  border-right: solid 1px #004ba0;
}

.sec_ec .ec_inner .box a:before {
  border-bottom: solid 1px #004ba0;
  border-left: solid 1px #004ba0;
  top: unset;
  right: unset;
  bottom: 0;
  left: 0;
}

.sec_ec .ec_inner .box a:hover {
  text-decoration: none;
}

.sec_ec .ec_inner .box a:hover:after, .sec_ec .ec_inner .box a:hover:before {
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.sec_ec .ec_inner .box a .a_inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 25px;
}

.sec_ec .ec_inner .box a .a_inner .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 5%;
  text-align: center;
}

.sec_ec .ec_inner .box a .a_inner .icon img {
  margin: 0 auto;
}

.sec_ec .ec_inner .box a .a_inner p {
  white-space: nowrap;
  padding: 5% 10%;
  font-size: 22px;
  line-height: 1.6;
}

.sec_ec .ec_inner .box a .a_inner p strong {
  color: #004ba0;
  font-weight: 400;
}

.sec_ec .ec_inner .box a .a_inner p span {
  font-size: 16px;
}

.sec_ec .ec_inner .box.free a .a_inner .icon img {
  width: 44%;
  margin-top: 4%;
}

.sec_ec .ec_inner .box.free a .a_inner p {
  text-align: center;
}

.sec_ec .ec_inner .box.line a .a_inner .icon img {
  width: 30%;
}

.sec_ec .ec_inner .box.line a .a_inner p {
  text-align: center;
}
/*# sourceMappingURL=products.css.map */